@import '../base.scss';
:local(.styles) {
  display: inline-block;
  // border: 16px solid #fd8e03;
  border-radius: 40px;
  height: 566px;
  width: 556px;
  margin-right: 5vw;
  // background: #f3f5d5ba;
  position: relative;
  // overflow: hidden;
  // padding-top: 40px;
  box-sizing: border-box;
  .award-btn-sec {
    position: absolute;
    bottom: 10px;
    left: 0;
    &>div {
      width: calc(100% / 7);
      img {
        width: 100%;
        height: auto;
      }
      height: 40px;
      display: inline-block;
      // &.award-1 {
      //   background: #FF0000;
      // }
      // &.award-2 {
      //   background: #FF7F00;
      // }
      // &.award-3 {
      //   background: #FFFF00;
      // }
      // &.award-4 {
      //   background: #00FF00;
      // }
      // &.award-5 {
      //   background: #0000FF;
      // }
      // &.award-6 {
      //   background: #4B0082;
      // }
      // &.award-7 {
      //   background: #9400D3;
      // }
     
    }
  }
  #magicwand {
    position: absolute;
    top: 0;
    left: 115px;
  }
  #magic_tail {
    position: absolute;
    top: -80px;
    left: 125px;
  }
  .reset-sec {
    position: absolute;
    font-size:32px;
    color: $green;
    width: 80px;
    height: 40px;
    line-height: 32px;
    left: calc(50% - 40px);
    bottom: -50px;
    border: 2px solid $green;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
  }
      
}
