@import '../base.scss';
:local(.styles) {
  display: inline-block;
  border: 18px solid white;
  border-radius: 40px;
  overflow: hidden;
  min-height: 480px;
  position: relative;
  width: 480px;
  height: 640px;
  .loading-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 640px;
    font-size: 160px;
    line-height: 640px;
    text-align: center;
    &.color-3 {
      color: $green;
    }
    &.color-2 {
      color: $purple;
    }
    &.color-1 {
      color: $red;
    }
  }
  .capture-btn {
    position: fixed;
    top: 40vh;
    left: 50vw;
    width: 60px;
    height: 40px
  }
}