:local(.styles) {
  display: inline-block;
  border: 18px solid white;
  border-radius: 40px;
  overflow: hidden;
  min-height: 480px;
  position: relative;

  .capture-btn {
    position: absolute;
    top: 40px;
    left: 300px;
    width: 60px;
    height: 40px
  }
}